/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        Esc_AltGrave: Esc_AltGrave {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC_ALTGRAVE";
            bindings = <&kp ESC>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        del_ToKeypadLyr: del_ToKeypadLyr {
            compatible = "zmk,behavior-mod-morph";
            label = "DEL_TOKEYPADLYR";
            bindings = <&kp DEL>, <&to 7>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        moRsymMkpRclick_ToLyr0: moRsymMkpRclick_ToLyr0 {
            compatible = "zmk,behavior-mod-morph";
            label = "MORSYMMKPRCLICK_TOLYR0";
            bindings = <&mo_Mkp 5 RCLK>, <&to 0>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        moLsymMkpLclick_ToLyr0: moLsymMkpLclick_ToLyr0 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOLSYMMKPLCLICK_TOLYR0";
            bindings = <&mo_Mkp 4 LCLK>, <&to 0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mo_Mkp: mo_Mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_MKP";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-unless-interrupted";
        };

        moLnavKpRet_ToRnav: moLnavKpRet_ToRnav {
            compatible = "zmk,behavior-mod-morph";
            label = "MOLNAVKPRET_TORNAV";
            bindings = <&lt 2 RETURN>, <&to 3>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        moRnavKpSpc_ToLnav: moRnavKpSpc_ToLnav {
            compatible = "zmk,behavior-mod-morph";
            label = "MORNAVKPSPC_TOLNAV";
            bindings = <&lt 3 SPACE>, <&to 2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "colemak_dh";
            bindings = <
&Esc_AltGrave  &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                                               &kp N6                   &kp N7         &kp N8            &kp N9   &kp N0         &kp ESC
&kp TAB        &kp Q   &kp W   &kp F     &kp P     &kp B                                                                &kp J                    &kp L          &kp U             &kp Y    &kp SEMICOLON  &kp BACKSLASH
&kp LCTRL      &kp A   &kp R   &kp S     &kp T     &kp G                                                                &kp M                    &kp N          &kp E             &kp I    &kp O          &kp SQT
&kp LSHIFT     &kp Z   &kp X   &kp C     &kp D     &kp V                    &kp LBKT               &kp RBKT             &kp K                    &kp H          &kp COMMA         &kp DOT  &kp FSLH       &kp RSHFT
                               &kp LALT  &kp LGUI  &moLsymMkpLclick_ToLyr0  &moRnavKpSpc_ToLnav    &moLnavKpRet_ToRnav  &moRsymMkpRclick_ToLyr0  &kp BACKSPACE  &del_ToKeypadLyr
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        qwerty_layer {
            display-name = "qwerty";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans    &trans
&trans  &kp Q   &kp W   &kp E   &kp R   &kp T                     &kp Y   &kp U   &kp I   &kp O   &kp P     &trans
&trans  &kp A   &kp S   &kp D   &kp F   &kp G                     &kp H   &kp J   &kp K   &kp L   &kp SEMI  &trans
&trans  &kp Z   &kp X   &kp C   &kp V   &kp B   &trans    &trans  &kp N   &kp M   &trans  &trans  &trans    &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lnav_lyr {
            display-name = "lnav";
            bindings = <
&kp C_VOL_UP       &kp C_PP    &kp HOME     &kp INS   &kp END        &trans                    &trans     &trans          &trans          &trans           &trans  &trans
&kp C_VOLUME_DOWN  &kp C_MUTE  &kp PAGE_UP  &kp UP    &kp PAGE_DOWN  &trans                    &trans     &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &trans  &trans
&trans             &trans      &kp LEFT     &kp DOWN  &kp DOWN       &trans                    &mkp MCLK  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans
&trans             &trans      &trans       &trans    &trans         &trans  &trans    &trans  &trans     &trans          &trans          &trans           &trans  &trans
                                            &trans    &trans         &trans  &trans    &trans  &trans     &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        rnav_layer {
            display-name = "rnav";
            bindings = <
&trans  &trans  &trans          &trans          &trans           &trans                       &trans  &kp END        &kp INS   &kp HOME     &kp C_PP    &kp C_VOLUME_UP
&trans  &trans  &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &trans                       &trans  &kp PAGE_DOWN  &kp UP    &kp PAGE_UP  &kp C_MUTE  &kp C_VOLUME_DOWN
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MCLK                    &trans  &kp LEFT       &kp DOWN  &kp RIGHT    &trans      &trans
&trans  &trans  &trans          &trans          &trans           &trans     &trans    &trans  &trans  &trans         &trans    &trans       &trans      &trans
                                &trans          &trans           &trans     &trans    &trans  &trans  &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lsym_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "lsym";
            bindings = <
&kp F1     &kp F2           &kp F3       &kp F4     &kp F5      &kp F6                         &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans           &trans       &trans     &trans      &trans                         &trans  &trans  &trans  &trans  &trans  &trans
&kp GRAVE  &kp EXCLAMATION  &kp AT_SIGN  &kp POUND  &kp DOLLAR  &kp PERCENT                    &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans           &trans       &trans     &trans      &trans       &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                         &trans     &trans      &trans       &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        rsym_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "rsym";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &kp F7     &kp F8         &kp F9            &kp F10               &kp F11                &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                    &trans     &trans         &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp COLON              &kp PIPE
&trans  &trans  &trans  &trans  &trans  &trans                    &kp CARET  &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp MINUS  &kp EQUAL      &kp LESS_THAN     &kp GREATER_THAN      &kp QUESTION           &trans
                        &trans  &trans  &trans  &trans    &trans  &trans     &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        keypad_layer {
            display-name = "keypad";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MULTIPLY  &kp KP_DIVIDE
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_PLUS      &kp KP_MINUS
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp KP_NUMBER_0  &kp KP_DOT       &kp CARET        &kp KP_EQUAL     &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_7 {
            display-name = "nav";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &kp U   &kp C_PLAY_PAUSE  &kp C_MUTE  &kp C_VOLUME_UP    &kp HOME  &kp END
&trans      &trans        &trans        &trans        &trans        &trans                          &kp D   &trans            &trans      &kp C_VOLUME_DOWN  &kp INS   &kp PAGE_UP
&trans      &trans        &trans        &trans        &trans        &trans                          &kp H   &kp J             &kp K       &kp L              &kp UP    &kp PAGE_DOWN
&trans      &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans            &trans      &kp LEFT           &kp DOWN  &kp RIGHT
                                        &trans        &trans        &trans        &trans    &trans  &trans  &trans            &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };
    };
};
